<% title "Item" %>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>
<p>
  <strong>Done At:</strong>
  <%= @item.done_at %>
</p>
<p>
  <strong>Created by:</strong>
  <%= @item.user %>
</p>

<p>
  <%= link_to "Edit", edit_list_item_path(@list, @item) %> |
  <%= link_to "Destroy", [@list, @item], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", list_items_path(@list) %>
</p>
